.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center{
  padding: 0% 15%;
}


.title {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  box-sizing: border-box;
  font-family: 'NanumBarunGothicLight';
}

.title p {
  margin-top: 10%;
  font-size: 1vw; /* 글씨 크기 키움 */
  font-weight: 400;
}

::selection{
  background-color: #93C6E7;
  color: white;
}

