
.leftright{
    display: flex;
    justify-content:start;
    align-items: center;
    height: 150%;
    padding-left: 10%;
    box-sizing: border-box;
    padding-bottom: 10%;
}
.introduction {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-bottom:5%
}

/* 텍스트 스타일 */
.intro {
    margin-top: 20%;
    font-size: 2vw;
    color: #909090;
    font-weight: 500;
}

.mid {
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'NanumBarunGothic'; 
    margin-top: 0.5vw;
}

.myname {
    margin: 0;
    font-size:6vw;
    font-weight: bold;
    display: inline-block;
    color: #93C6E7; 
    font-family: 'NanumBarunGothic';
    margin-top: 0.8vw; 
}

.ip {
    margin: 0;
    font-size: 3vw; 
    display: inline-block;
    font-weight: bold;
    font-family: 'NanumBarunGothic';
    margin-top: 0.8vw; 
}
.scrollimages{
    display: flex;
    align-items: center;
    padding-left: 15%;
    justify-content: center;
    height: auto;
    max-width: 30%;
    width: 15%;
    padding-top:10%
}
.scroll {
    position : relative;
    animation: rotate_image 30s linear infinite;   
    max-width: 80%;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
.outercircle{
    position : absolute;
    max-width: 2%;
    width: 1%;
}
.innercircleup{
    position : absolute;
    transform: translate(0, -80%);
    transition: transform 0.5s ease-in-out;
    max-width: 0.5%;
}

.innercircledown{
    position : absolute;
    transform: translate(0, 80%);
    transition: transform 0.5s ease-in-out;
    max-width: 0.5%;
}
.innercircleup:hover{
    cursor: pointer;
}

.innercircledown:hover{
    cursor: pointer;
}

.imageContainer {
    display: flex;
    justify-content: center; 
    align-items: center; /* 수직 중앙 정렬 */
    height: 100%; /* 필요한 경우 높이 설정 */
    padding-top: 5%;
}

.imageContainer:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.githubnormal {
    display: block;
    max-width: 5%;
    height: auto;
}
